@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --background-color: #fff;
  --brand-color: #172339;
  --hero-color: #1c1a19;
  
  --white-color: #fff;
  --black-color: #000;

  --footer-bg-color: #F3EDE7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1px;
  background-color:  var(--background-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 16px;
  align-items: center;
}

.brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.24px;
  color: var(--brand-color);
}

.nav-button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  color: var(--black-color);
  border: 1px solid var(--brand-color);
  background-color: var(--white-color);
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: var(--brand-color);
  color: var(--white-color);
}

/* HERO SECTION STARTS HERE */

.hero-container { 
  background-color: var(--white-color);
  padding: 100px 16px;
  max-width: 100%;
  display: flex;
  padding: 100px 16px;
  margin: 0 auto;
  flex-direction: column;
}

.left-side-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

.curved-line {
  position: absolute;
  top: 150px;
  right: 49px;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.48px;
  color: var(--hero-color);
  margin-top: -70px;
}

.super, .business {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.48px;
  color: var(--brand-color);
}

.super {
  font-size: 35px;
  letter-spacing: -0.48px;
}

.business {
  font-size: 35px;
  letter-spacing: -0.48px;
}

.hero-body {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: var(--hero-color);
  margin-top: 28px;
}

.hero-button {
  color: rgba(250, 248, 246, 1);
  width: 60%;
  background-color: var(--brand-color);
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 28px;
}

.desktop-image {
  display: none;
}

.mobile-image {
  height: 240px;
  width: 343px;
  margin-top: 50px;
}

.hero-start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
}

.Companies, .languages, .leads {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.48px;
  color: var(--brand-color);
  margin-top: 32px;
  margin-bottom: 32px;
}

.leads, .languages {
  margin-top: 32px;
  margin-bottom: 32px;
}

.Companies {
  margin-top: -500px;
  margin-bottom: 32px;
}

.language, .lead, .company {
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: var(--hero-color);
  margin-top: 18px;
  text-transform: uppercase;
}

.review-container {
  height: 740px;
  width: 375px;
  background-color: #172339;
  margin-top: 2rem;
  border-radius: 20px;
}

.review-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

.review-man {
  margin-top: -180px;
}

.curved-line-two {
  margin: 40px auto;
}

.review-title, .review-slogan, .review-paragraph, .reviewer-name, .reviewer-portfolio {
  font-family: "Poppins", sans-serif;
  color: #faf8f6;
  text-align: center;
}

.review-title {
  font-size: 24px;
  font-weight: 200;
  line-height: 36px;
  letter-spacing: -0.24px;
  margin-top: -10px;
}

.review-slogan {
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.1px;
  margin-top: 10px;
}

.review-paragraph {
  margin-top: 40px;
  line-height: 26px;
  letter-spacing: 0.1px;
  padding: 0 20px;
}

.reviewer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.reviewer-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1px;
  margin-left: 20px;
}

.reviewer-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1px;
  margin-left: 20px;
}

.footer-container {
  height: 200px;
  width: 100%;
  background-color: var(--footer-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  z-index: -1;
  position: relative;
}

.footer-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: var(--footer-color);
  margin-top: 60px;
}

.copy-right {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: var(--footer-color);
  margin-top: 20px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.icons > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 20px;
}

@media screen and (min-width: 540px) {

  .nav {
    padding: 50px 16px;
  }

  .nav-button {
    padding: 12px 24px;
  }

  .hero-container {
    padding: 100px -16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
  }

  .left-side-container {
    max-width: 100%;
  }

  .curved-line {
    position: absolute;
    top: 180px;
    left: 150px;
    width: 231px;
    height: 19px;
  }

  .hero-title {
    line-height: 30px;
    letter-spacing: -0.48px;
    margin-top: 16px;
  }

  .super, .business {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.48px;
  }

  .super {
    font-size: 35px;
    letter-spacing: -0.48px;
  }

  .business {
    font-size: 35px;
    letter-spacing: -0.48px;
  }

  .hero-body {
    font-size: 16px;
    line-height: 26px;
    margin-top: 28px;
    text-align: justify;
    width: 90%;
  }

  .hero-button {
    width: 80%;
    margin-top: 28px;
  }

  .desktop-image {
    display: block;
    height: 340px;
    width: 220px;
    margin-top: -50px;
  }

  .mobile-image {
    display: none;
  }

  .hero-start-container {
    max-width: 50%;
    margin-top: -30px;
  }

  .hero-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 0 16px;
  }

  .Companies, .languages, .leads {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.48px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
  }

  .Companies {
    margin-top: -14px;
    margin-bottom: 32px;
    padding-left: 22%;
  }

  .languages {
    margin-top: -14px;
    margin-bottom: 32px;
    padding-left: 22%;
  }

  .leads {
    margin-top: -14px;
    margin-bottom: 32px;
    padding-left: 22%;
  }

  .review-container {
    height: 740px;
    width: 100%;
    background-color: #172339;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    margin: 16px 20px 0 20px;
  }

  .review-paragraph {
    margin-top: 40px;
    line-height: 26px;
    letter-spacing: 0.1px;
    padding: 0 50px;
  }
  
}
  @media screen and (min-width: 640px){
    .hero-container {
      padding: 100px 16px;
    }

    .hero-title {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.48px;
      margin-top: 16px;
    }

    .super, .business {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.48px;
    }

    .super {
      font-size: 40px;
      letter-spacing: -0.48px;
    }

    .business {
      font-size: 40px;
      letter-spacing: -0.48px;
    }

    .hero-body {
      font-size: 16px;
      line-height: 26px;
      margin-top: 28px;
      text-align: justify;
      width: 90%;
    }

    .hero-button {
      width: 80%;
      margin-top: 28px;
    }

    .desktop-image {
      display: block;
      height: 340px;
      width: 220px;
      margin-top: -50px;
    }

    .mobile-image {
      display: none;
    }

    .hero-start-container {
      max-width: 50%;
      margin-top: -30px;
    }

    .hero-stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      padding: 0 16px;
    }

    .Companies, .languages, .leads {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: -0.48px;
      margin-top: 32px;
      margin-bottom: 32px;
      text-align: center;
    }

    .Companies {
      margin-top: -14px;
      margin-bottom: 32px;
      padding-left: 25%;
    }

    .languages {
      margin-top: -14px;
      margin-bottom: 32px;
      padding-left: 22%;
    }

    .leads {
      margin-top: -14px;
      margin-bottom: 32px;
      padding-left: 22%;
    }

    .review-container {
      height: 740px;
      width: 100%;
      background-color: #172339;
      margin-top: 12rem;
      display: flex;
      flex-direction: column;
      margin: 16px 20px 0 20px;
    }

    .review-paragraph {
      margin-top: 40px;
      line-height: 26px;
      letter-spacing: 0.1px;
      padding: 0 50px;
    }
  }

  @media screen and (min-width: 768px) {
    .hero-container {
      padding: 1px 16px;
    }

    .left-side-container {
      z-index: 1;
    }

    .curved-line {
      position: absolute;
      top: 180px;
      left: 250px;
      width: 231px;
      height: 19px;
    }

    .hero-title {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.48px;
      margin-top: 66px;
      width: 90%;
    }

    .super, .business {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.48px;
    }

    .super {
      font-size: 40px;
      letter-spacing: -0.48px;
    }

    .business {
      letter-spacing: -0.48px;
    }

    .hero-body {
      font-size: 16px;
      line-height: 26px;
      margin-top: 28px;
      text-align: justify;
      width: 70%;
    }

    .hero-button {
      width: 70%;
      margin-top: 28px;
    }

    .desktop-image {
      display: block;
      height: 340px;
      width: 200px;
      margin-top: 50px;
      margin-left: -60%;
    }

    .mobile-image {
      display: none;
    }

    .hero-start-container {
      margin-top: -30px;
    }

    .hero-stats {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 0 5px;
      text-align: end;
      margin-right: -255%;
      margin-top: -250px;

    }

    .Companies, .languages, .leads {
      font-size: 12px;
      line-height: 40px;
      letter-spacing: -0.48px;
      margin-top: 32px;
      margin-bottom: 32px;
      text-align: center;
    }

    .Companies {
      margin-top: -34px;
      margin-bottom: 32px;
      padding-left: 30%;
    }

    .languages {
      margin-top: -14px;
      margin-bottom: 32px;
      padding-left: 22%;
    }

    .leads {
      margin-top: -14px;
      margin-bottom: 32px;
      padding-left: 22%;
    }

    .review-container {
      height: 420px;
      width: 95%;
      background-color: #172339;
      margin-top: 5rem;
      display: flex;
      flex-direction: row;
      border-radius: 20px;
    }

    .review-image {
      width: 50%;
      height: 100%;
      background-color: #172339;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .review-man {
      margin-top: -50px;
      height: 470px;
    }

    .review-text {
      height: 100%;
      background-color: #172339;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: start;
      margin-left: 5%;
    }

    .review-title {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: -0.48px;
      margin: 16px 20px 0 20px;
      width: 70%;
      text-align: start;
    }

    .review-paragraph {
      margin-top: 40px;
      line-height: 26px;
      letter-spacing: 0.1px;
      padding: 0 50px;
      text-align: start;
    }

    .review-slogan {
      line-height: 20px;
      margin-top: 28px;
      text-align: justify;
    }

    .reviewer-bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 85%;
    }

    .review-paragraph {
      margin-top: 40px;
      line-height: 26px;
      letter-spacing: 0.1px;
      padding: 0 50px;
    }

    .reviewer-name, .reviewer-portfolio {
      text-align: start;
    }

    /* .footer-container {
      height: 300px;
      width: 100%;
      background-color: var(--footer-bg-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: -50px;
      z-index: -1;
    } */

    .footer-container {
  height: 200px;
  width: 100%;
  background-color: var(--footer-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  z-index: -1;
  position: relative;
}

.footer-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: var(--footer-color);
  margin-top: 60px;
}

.copy-right {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: var(--footer-color);
  margin-top: 20px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.icons > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 20px;
}
}


  /* @media screen and (min-width: 1024px) {
    
    .hero-container {
      padding: 100px 1px;
      background: red;
    }

    .left-side-container {
      z-index: 1;
      background: lime;
    }

    .curved-line {
      position: absolute;
      top: 180px;
      left: 250px;
      width: 231px;
      height: 19px;
    }

    .hero-title {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.48px;
      margin-top: 16px;
      width: 90%;
    }

    .super, .business {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.48px;
    }

    .super {
      font-size: 40px;
      letter-spacing: -0.48px;
    }

    .business {
      letter-spacing: -0.48px;
    }

    .hero-body {
      font-size: 16px;
      line-height: 26px;
      margin-top: 28px;
      text-align: justify;
      width: 70%;
    }

    .hero-button {
      width: 70%;
      margin-top: 28px;
    }

    .desktop-image {
      display: block;
      height: 340px;
      width: 200px;
      margin-top: -50px;
      margin-left: -60%;
    }

    .mobile-image {
      display: none;
    }

    .hero-start-container {
      margin-top: -30px;
    }

    .hero-stats {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 0 5px;
      text-align: end;
      margin-right: -255%;
      margin-top: -450px;

    }

    .Companies, .languages, .leads {
      font-size: 12px;
      line-height: 40px;
      letter-spacing: -0.48px;
      margin-top: 32px;
      margin-bottom: 32px;
      text-align: center;
    }

    .Companies {
      margin-top: -14px;
      margin-bottom: 32px;
      padding-left: 30%;
    }

    .languages {
      margin-top: -14px;
    }

  } */
