* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Open Sans', sans-serif;
 background-color: #f4f4f4;
}

.header {
 background: #333;
 color: #fff;
 padding: 20px;
 display: flex;
}

.brand {
 font-size: 30px;
 font-weight: bold;
}

.navigation {
 margin-left: auto;
}

.navigation ul {
 list-style: none;
 display: flex;
 justify-content: space-between;
}